/* Enter your custom styles here */
.tile{
    box-shadow: 2px 2px 5px grey !important;
    border: 1px solid black !important;
}
.qnty{
    font-size: 20px !important; 
    font-weight: bold !important;
}
.tile_title{
    font-size: 19px !important;   
}
.tile:hover{
    box-shadow: 4px 4px 10px grey !important;
    transform: scale(1.02);
    transition: transform 0.2s;
}